<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="net_lab_project" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="localhost" />
          <option name="id" value="718ec87339dd48db8ec48382993e16e9" />
          <option name="name" value="lab" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="root" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="sqlmap" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="id" />
                <option name="identity" value="true" />
                <option name="statement" value="MYSQL" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="MIXEDMAPPER" />
            <option name="targetPackage" value="mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/user-server" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="model" />
            <option name="targetProject" value="$PROJECT_DIR$/user-server" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="selectedPlugins">
          <map>
            <entry key="com.chuntung.plugin.mybatis.builder.generator.plugins.LombokPlugin" />
            <entry key="com.chuntung.plugin.mybatis.builder.generator.plugins.MapperAnnotationPlugin">
              <value>
                <PluginConfigWrapper>
                  <option name="json" value="{&quot;customAnnotationType&quot;:&quot;org.springframework.stereotype.Repository&quot;}" />
                  <option name="type" value="com.chuntung.plugin.mybatis.builder.generator.plugins.MapperAnnotationPlugin$Config" />
                </PluginConfigWrapper>
              </value>
            </entry>
          </map>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="sqlmap" />
            <option name="targetProject" value="$PROJECT_DIR$/user-server/src/main/resources" />
          </SqlMapGeneratorConfiguration>
        </option>
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="net_lab_project#lab_user">
          <value>
            <TableInfo>
              <option name="database" value="net_lab_project" />
              <option name="domainName" value="LabUser" />
              <option name="tableName" value="lab_user" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>